{% extends 'base.htm.j2' %}
{% block content %}

<div>
    <h1>LTI Launch Verified!</h1>
    <p>{{msg}}</p>

    <ul>
        <li>lis_person_name_full is <b>{{ lis_person_name_full }}</b></li>
        <li>custom_robot_name is <b>{{ custom_robot_name }}</b></li>
    </ul>

    <p>We have a visual on <b>{{ custom_robot_name }}</b>'s appearance:</p>

    <img src="https://robohash.org/{{ custom_robot_name }}.png" title="Powered by RoboHash" alt="{{ custom_robot_name }} Robot Face" />

    <p><em>Randomly generated robot imagery provided by <a href="https://robohash.org">RoboHash</a>.</em></p>

    <p>Note: You can see all the LTI params in your server console.</p>

</div>

{% endblock content %}
